[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask-whooshee = "==0.7.0"
alembic = "==1.4.0"
blinker = "==1.4"
bootstrap-flask = "==1.2.0"
click = "==7.0"
dominate = "==2.4.0"
elasticsearch = "==7.5.1"
flask = "==1.1.1"
gunicorn = "==19.10.0"
itsdangerous = "==1.1.0"
mako = "==1.1.1"
markupsafe = "==1.1.1"
pathtools = "==0.1.2"
python-dateutil = "==2.8.1"
python-dotenv = "==0.11.0"
python-editor = "==1.0.4"
six = "==1.14.0"
urllib3 = "==1.25.8"
visitor = "==0.1.3"
watchdog = "==0.10.2"
wtforms = "==2.2.1"
Flask-Bootstrap = "==3.3.7.1"
Flask-CKEditor = "==0.4.3"
Flask-DebugToolbar = "==0.11.0"
Flask-Login = "==0.5.0"
Flask-Mail = "==0.9.1"
Flask-Migrate = "==2.5.2"
Flask-Moment = "==0.9.0"
Flask-SQLAlchemy = "==2.4.1"
Flask-WTF = "==0.14.3"
Jinja2 = "==2.11.3"
PyJWT = "==1.7.1"
SQLAlchemy = "==1.3.13"
Werkzeug = "==1.0.0"
Whoosh = "==2.7.4"

[requires]
python_version = "3.7"
