

<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('patient_profile', unit_id=record.owner.id) }}">
                <img src="{{ record.owner.avatar(60) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=record.author.username) }}">
                {{ record.author.username }}
            </a>
                added at {{ moment(record.timestamp).fromNow() }}:
            <br>
            <b>Name: </b>{{ record.owner.name }}
            <br>
            <b>Abstract: </b>{{ record.body }}
        </td>
    </tr>
</table>