
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=unit.owner.username) }}">
                    <img src="{{ unit.avatar(150) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=unit.owner.username) }}">
                    {{ unit.owner.username }}
                </a>
                added {{ moment(unit.timestamp).fromNow() }}:
                <br>
                <a href="{{ url_for('show_records', unit_id=unit.id) }}">
                    {{ unit.name }}
                </a>
                <br>
                {{ unit.age }} years old
                <br>
                {{ unit.comment }}
            </td>
        </tr>
    </table>
