{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    {% if units %}
        {% for unit in units %}
            {% include '_unit.html' %}
        {% endfor %}
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>No units.</h5></div>
    {% endif %}

{% endblock %}