{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Microblog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('explore') }}">Explore</a></li>
                    <li><a href="{{ url_for('unit_add') }}">New</a></li>
                    <li><a href="{{ url_for('unit_manage') }}">Manage</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{% if message[0] == 'message' %}info{% else %}{{ message[0] }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

        <hr>
        <footer class="text-center">
            {% block footer %}
                <small> &copy; Team of PKU Computer Network Course, Spring 2020; Credit to: Zirui Liu, Wentao Wang, Xinyu Di
                </small>
                <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
            {% endblock %}
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{moment.include_moment()}}
{% endblock %}


