{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Change Avatar{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='jcrop/css/jquery.Jcrop.min.css') }}">
{% endblock %}


{% block app_content %}
    <h2 class="card-header">Change avatar for {{ unit.name }}!</h2>
    <hr>
    <div class="card w-100 bg-light">
        <div class="card-body">
            {{ wtf.quick_form(upload_form, action=url_for('upload_avatar', unit_id=unit.id)) }}
            <small class="text-muted">
                Your file's size must be less than 3 MB, the allowed formats are png and jpg.
            </small>
            <hr>
            {{ avatars.crop_box('get_avatar', unit.avatar_raw) }}
            {{ avatars.preview_box('get_avatar', unit.avatar_raw) }}
            <hr>
            {{ wtf.quick_form(crop_form, action=url_for('crop_avatar', unit_id=unit.id)) }}
        </div>
    </div>
{% endblock %}

